* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}
    
::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    border-radius: 10px;
}
    
::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}

//css 루트객체 - css 에서 만드는 전역 변수 (link)
//ex - blue = #217af4; 로 사용가능

body {
    background-color:#F0F2F5;

}

header {
    padding: 5px 20px;
    height: 10vh;
    text-align: left;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

input::placeholder{
    font-size: 16px;
    color: #BEC3C9;
}

.logo {
    height: 90%;
}

.top_button img{
    width: 75px;
}
